<nav class="top-tabs" aria-label="Primary">
  <a href="{{ '/' | relative_url }}" class="tab{% if page.url == '/' %} is-active{% endif %}">Home</a>
  <a href="{{ '/articles/00-building-beyond-the-mvp/' | relative_url }}" class="tab{% if page.url contains '/articles/' %} is-active{% endif %}">Series</a>
  <a href="{{ '/framework/canon/' | relative_url }}" class="tab{% if page.url contains '/framework/' %} is-active{% endif %}">Framework</a>
  <a href="{{ '/README' | relative_url }}" class="tab{% if page.url == '/README.html' or page.url == '/README/' %} is-active{% endif %}">About</a>
</nav>
